{% extends "base.html" %}

{% block title %}Keylogs{% endblock %}

{% block content %}
<div id="keylogs" class="section">
    <div class="top-bar">
        <h1>Keylogs</h1>
        <div class="right-icons">
            <i data-feather="refresh-cw" onclick="refreshData('keylogs')"></i>
        </div>
    </div>
    <input type="text" id="search-keylogs" placeholder="Search keylogs" onkeyup="searchKeylogs()">
    <div id="search-results-keylogs" class="search-results"></div>
    <div class="table-container">
        <table id="keylogs-table">
            <thead>
                <tr>
                    <th>Application</th>
                    <th>Time</th>
                    <th>Key Presses</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}