{% extends "base.html" %}

{% block title %}SMS{% endblock %}

{% block content %}
<div id="sms" class="section">
    <div class="top-bar">
        <h1>SMS</h1>
        <div class="right-icons">
            <i data-feather="refresh-cw" onclick="refreshData('sms')"></i>
        </div>
    </div>
    <input type="text" id="search-sms" placeholder="Search SMS" onkeyup="searchSms()">
    <div id="search-results-sms" class="search-results"></div>
    <div class="sms-list" id="sms-list">
        </div>
</div>

<div class="sms-window hidden">
  <div class="sms-header">
    <button class="close-sms">X</button>
    <h2 id="sms-window-name"></h2>
  </div>
  <div class="messages-container" id="sms-messages">
    </div>
</div>
{% endblock %}